body {
    background-color: black;
}

.infos {
    color: aliceblue;
    margin-top: 150px;
    margin-left: 150px;
}

.ul-nav {
  display: flex;
  flex-direction: row;
  margin: 10px;
  list-style-type: none;
  justify-content: flex-end;
  text-decoration: none;
}

.li-nav {
  background-color: rgb(61, 59, 59);
  margin: 10px;
}

a:link {
  text-decoration: none;
  color: aliceblue;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
